<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Mihail Latyshov"/>
    <title>Stream Overlay &middot; iRacing Browser Apps</title>
    <!-- less -->
    <link rel="stylesheet/less" type="text/css" href="css/overlay.less"/>
    <script src="/libs/less.min.js"></script>
    <!-- angular -->
    <script src="/libs/angular/angular.min.js"></script>
    <script src="/libs/angular/angular-animate.min.js"></script>
    <script src="/libs/angular/angular-route.min.js"></script>
    <script src="/libs/angular/angular-sanitize.min.js"></script>
    <!-- coffee -->
    <script src="/libs/coffee-script.js"></script>
    <script src="/libs/ir/ir.coffee" type="text/coffeescript"></script>
    <script src="js/overlay.coffee" type="text/coffeescript"></script>
</head>
<body ng-cloak>

<div ng-controller="TwitchCtrl" class="twitch">
    <div ng-show="showNewFollower" class="new-follower">
        <span ng-bind-html="newFollower"></span>
    </div>
    <div class="counters">
        <ul class="list-inline">
            <li class="viewers">
                <i class="glyphicon glyphicon-eye-open"></i>
                <span ng-bind="viewers"></span>
            </li>
            <li class="followers">
                <i class="glyphicon glyphicon-heart"></i>
                <span ng-bind="followers"></span>
            </li>
        </ul>
    </div>
</div>

<table ng-controller="StandingsCtrl" class="standings">
    <tbody>
    <tr ng-repeat="i in standings track by i.CarIdx" app-standings-row="i.CarIdx" class="standings-row">
        <!-- position -->
        <td app-standings-position="i.CarIdx" class="position"></td>
        <!-- gain -->
        <td app-standings-gain="i.CarIdx" class="gain"></td>
        <!-- class position -->
        <td app-standings-class-position="i.CarIdx" class="class-position"></td>
        <!-- car number -->
        <td app-car-number="i.CarIdx" class="car-number"></td>
        <!-- car image -->
        <!-- <td app-car-image="i.CarIdx" class="car-image"></td> -->
        <!-- name -->
        <td class="driver-name">
            <span ng-if="ir.RadioTransmitCarIdx == i.CarIdx" class="glyphicon glyphicon-volume-up"></span>
            <span ng-bind="formatName(ir.DriversByCarIdx[i.CarIdx].UserName)"></span>
        </td>
        <!-- gap -->
        <td app-standings-gap="i.CarIdx" class="gap-time"></td>
        <!-- interval -->
        <td app-standings-int="i.CarIdx" class="int-time"></td>
        <!-- other -->
        <td class="other">
            <!-- last lap time -->
            <span app-standings-lap-time="i.CarIdx" class="lap-time"></span>
            <!-- incidents -->
            <span app-standings-incidents="i.CarIdx" class="incidents"></span>
            <!-- pit -->
            <span ng-show="i && ir.CarIdxOnPitRoad[i.CarIdx]"
                  ng-class="{ 'stall': ir.CarIdxTrackSurface[i.CarIdx] == 1 }" class="pit">PIT</span>
            <!-- <span class="pit">PIT</span> -->
            <!-- <span class="pit stall">PIT</span> -->
            <!-- offtrack -->
            <span ng-show="i && ir.CarIdxTrackSurface[i.CarIdx] == 0" class="offtrack">OFFTRACK</span>
            <!-- <span class="offtrack">OFFTRACK</span> -->
        </td>
    </tr>
    </tbody>
</table>

<div ng-controller="RelativesCtrl" ng-class="{ 'not-on-track': !ir.IsOnTrack }" class="relatives">
    <table ng-controller="SessionCtrl" class="session-info">
        <tr>
            <td>
                Lap:
                <span app-session-lap class="lap"></span>
            </td>
            <td class="type-time">
                <span ng-if="ir.SessionState >= 5" class="checkered-flag"></span>
                <span ng-bind="ir.SessionInfo.Sessions[ir.SessionNum].SessionName || ir.SessionInfo.Sessions[ir.SessionNum].SessionType"></span>:
                <span app-session-time class="time"></span>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
